@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

div {
    font-size: 1.1rem;
    font-weight: 900;
    margin-left: 2.7rem;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 900;
    justify-content: auto;
    text-align: justify;
    display: inline-block;
}

h2 {
    margin-left: 37.5%;
    margin-top: 5.7%;
    color: black;
    background-color: azure;
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.3rem;
    opacity: 0.9;

}

body {
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: aquamarine;
    background: linear-gradient(to bottom right, aquamarine, rgb(4, 168, 209));
    background-image: url(./fondoweb.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

section {
    font-size: 1rem;
    box-sizing: border-box;
    border: rgb(54, 91, 75) 1.4px outset;
    border-radius: 0.7rem;
    padding: 2rem;
    width: 37rem;
    height: 19rem;
    position: absolute;
    top: 37%;
    left: 28.5%;
    background-color: rgb(254, 254, 254);
    box-shadow: 1px 1px 1px 0 rgb(48, 48, 48);
    text-align: left;
}

button {
    font-size: 1.2rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    border:  1.7px rgb(53, 125, 94) outset;
    box-shadow: 1px 1px 2px rgb(48, 48, 48);
    position: absolute;
    left: 22%;
    margin-top: 1.3rem;
    background-color: azure;
}

button:enabled {
    background-color: rgb(190, 248, 229);
}

button:hover:enabled {
    background-color: aquamarine;
    box-shadow: 1px 1px 3px rgb(48, 48, 48);
    color: black;
}

#email {
    border-radius: 0.3rem;
    border: rgb(54, 91, 75) 1.5px outset;
    padding: 0.2rem;
    width: 19rem;
    height: 1.9rem;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

#email + span {
    position: relative;
}

#email + span::before {
    position: absolute;
    right: -20px;
    top: 1px;
}
 
#email:invalid + span::before {
    content: '✖';
    color: red;
}

#email:valid + span::before {
    content: '✓';
    color: green;
}

#residence {
    width: 12rem;
    height: 1.9rem;
    padding: 0.1rem;
    border-radius: 0.3rem;
    border: rgb(54, 91, 75) 1.5px outset;
    font-size: 0.9rem;
    margin-top: 1rem;
}

#residence + span {
    position: relative;
}

#residence + span::before {
    position: absolute;
    right: -20px;
    top: 1px;
}

#residence:invalid + span::before {
    content: '✖';
    color: red;
}

#residence:valid + span::before{
    content: '✓';
    color: green;
}

header {
    display: block;
    padding: 0.1rem;
    border-bottom: 1.3px solid black;
    box-shadow: 1px 1px 2px 0 rgb(43, 43, 43);
    background-color: aquamarine;
    background: linear-gradient(to bottom right, aquamarine, rgb(4, 168, 209, 0.7));
}

select:required {
    display: inline-block;
}

img {
    position: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.checkbox {
    margin-top: 1.5rem;
}